
<h1 style="text-align: center;">  <span style="color:#6923E5 ;"> Talkngo</span>  reinitialisation de votre mot de passe  </h1>

<p>
   

    une demande de reinitialisation de mot de passe a ete effectuée , veuiller clické sur le lien  pour reinitialiser votre mot de passe :   <a href="{{ absolute_url( url ) }}"> {{url}} </a>  si vous etes pas a l'origin de l'action vous pouvez ignorer ce message  </p>
    
</p>
