
{% block stylesheets %}
    <link rel="stylesheet" href=" {{asset('css/mdpcss/oubliemdp.css')}} ">
{% endblock  %}


{% block body %}

<div>
   <h1> Talkngo recupereration mot de passe </h1>
   </div>
<div class="form-largescreen contenue">

    

    {{ form_start(emailForm) }} 
    {{ form_row(emailForm.email,{'attr':{'class':'email-input'} }) }}
    {{ form_end(emailForm) }}
         

{% endblock %}