

{% block title %} TalknGo mot de passe oublié{% endblock %}

{% block stylesheets %} <link rel="stylesheet" href=" {{asset('css/recupmdp.css')}} "> {% endblock %}

{% block body %}
       <h1>TalknGo recuperation de mot de passe </h1>
      <div class="formulaire">
          <p> veuillez rensegnez l'adresse email associé a votre compte <br>
              vous receverez un mail contenant  lien pour reinitialiser votre compte  </p>
    
          {{form(emailForm)}} 

    </div>
{% endblock %}
