{% extends 'base.html.twig' %}

{% block title %}Votre nouveau mot de passe {% endblock %}

{% block body %}

    <h1 class="h3 mb-3 font-weight-normal">Récuperation mot de passe</h1>

    <h2>Entrez votre nouveau mot de passe </h2>
    
    {{ form_start(passwordForm) }}
    {{ form_end(passwordForm) }}
    
{% endblock %}
