{% extends 'base.html.twig' %}

{% block title %}Talkngo nouveau mot de  passe  {% endblock %}


 {% block stylesheets %} <link rel="stylesheet" href=" {{asset('css/recupmdp.css')}} "> {% endblock %}
    


{% block body %}

    <h1 class="h3 mb-3 font-weight-normal">TalknGo</h1>

    <h2>Entrez votre nouveau mot de passe </h2>
    
    {{ form_start(passwordForm) }}
    {{ form_end(passwordForm) }}
    
{% endblock %}
