
{% block stylesheets %}
<link rel="stylesheet" href=" {{asset('css/mdpcss/resetmdp.css')}} ">
{% endblock  %}

{% block title %} <h1> Talkngo nouveau mot de passe</h1>{% endblock %}

{% block body %}

    <h1 class="h3 mb-3 font-weight-normal"></h1>
    
    {{ form_start(passwordForm) }}
    {{ form_end(passwordForm) }}
    
{% endblock %}
