{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<body>
    <div id="imageapropos" class="container-fluid text-center row align-items-center"><div class="container-fluid col-md-6">
    <p id="slogan_image">Fait par des voyageurs, </br> pour des voyageurs</p></div></div>
    <div class="container-fluid pt-5 pl-5">
        <h2 class="mb-3">Talk'n Go</h2>
        <h3 class="mb-4">A propos</h3>
        <p class="mb-5">
        Talk'n Go est un site de voyage communautaire qui est né 
        de la volonté de créer du lien entre les voyageurs quelque soit leurs horizons.</p>
    </div>
</body>

{% endblock %}