{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<body>
    <div class="container-fluid pt-5 pl-5">
        <h2 class="mb-3">Talk'n Go</h2>
        <h3 class="mb-4">Contact</h3>
        <p class="mb-5">
            Si vous souhaitez nous contacter, une seule adresse : talkngo@gmail.com </br>

            Nous ferons tout pour vous répondre le plus rapidement possible !</p>
    </div>
</body>

{% endblock %}