{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}


<body>
    

    <div id="imageaccueil" class="container-fluid text-center row align-items-center"><div class="container-fluid col-md-6"><p id="slogan_image">Découvrez, échangez,<br>voyagez</p></div></div>

    <div class="container-fluid pt-5 pl-5">
        <h2 class="mb-3">Talk'n Go</h2>
<<<<<<< HEAD
        <h3 id="h3_accueil" class="mb-4">Des merveilles à tous les horizons</h3>
=======
        <h3 class="mb-4" id="h3-left">Des merveilles à tous les horizons</h3>
>>>>>>> 08f578f2dde3f3aacc6edec8f250a2c20eb580e3
        <p class="mb-5">
            Talk'n Go vous permet de combiner le plaisir du voyage, des échanges et des nouvelles rencontres.
            <br>Sélectionnez le pays de votre choix, regardez les nouvelles propositions de voyages faites par d'autres utilisateurs, échangez avec eux et découvrez de nouvelles destinations
        </p>
        <h2 class="mt-5 text-center">Explorez de nouvelles destinations</h2>
    </div>
</body>
    {% include 'map.html.twig' %}
            
{% endblock %}

          
        

