{% extends 'base.html.twig' %}

{% block title %}utilisateurs{% endblock %}

{% block body %}
            
            <li class="nav-item dropdown show">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">Dropdown</a>
                <div class="dropdown-menu show">
                    {% for country in countrys %}
                    <a class="dropdown-item" href="{{ path('country_page',{'id':country.id } ) }}">{{ country.countryName }}</a>
                    {% endfor %}
                </div>
              </li>
            
{% endblock %}

          
        

