{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block body %}

    <div id="imageaccueil" class="container-fluid text-center row align-items-center"><div class="container-fluid col-md-6"><p id="slogan_image">Découvrez, échangez,<br>voyagez</p></div></div>

    <div class="container-fluid pt-5 pl-5">
        <h2 class="mb-3">Talk'n Go</h2>
        <h3 class="mb-4">Des merveilles à toutes les horizons</h3>
        <p class="mb-5">
            Talk'n Go vous permet de combiner le plaisir du voyage, des échanges et des nouvelles rencontres.
            <br>Sélectionnez le pays de votre choix, regardez les nouvelles propositions de voyages faites part d'autres utilisateurs, échangez avec eux et découvrez de nouvelles destinations
        </p>
        <div style="height: 10em;"></div>
        <h2 class="mt-5 text-center">Explorez de nouvelles destinations</h2>
    </div>

    {% include 'map.html.twig' %}
            
{% endblock %}

          
        

