<h1> Confirmation de l'email</h1>

<p>
    Votre compte viens d'être crée, pour comfirmer votre email clickez sur : <br><br>
    <a href="{{ absolute_url(path('activation_compte', {'token': token})) }}">Confirmer mon email</a>.
    
</p>
