<h1> confirmation de l'email</h1>

<p>
    votre compte viens d'etre creer pour comfirmer votre email clicker sur : <br><br>
    <a href="{{ absolute_url(path('activation_compte', {'token': token})) }}">Confirmer mon email</a>.
    
</p>
