@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');


*{
    list-style: none;
    outline-style: none;
  
}


h1{

    color: #fff;
    font-family: calistoga;
    text-align: center;

}


.lien-mdp{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    margin-top:5vh;
}
.liens-mdp-oublie{
  
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    color: #fff;
}



.form-largescreen{
    padding: 50px;
    margin: 5vh auto 0 auto;
	width:550px;
    border-radius: 25px;
    background-color: #6923E5;
    box-shadow: 3px 5px 7px 2px rgba(0,0,0,0.61);
}

.title{
 text-align: center;
 font-family: calistoga;
 color: #fff;

}


.form-control{
    margin: 5px;
    margin-top: x;
    margin-bottom: 30px;
    padding: 8px;
    border: #ffffff 1px solid;
    background-color: rgb(218, 218, 218);
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
}



select {
    word-wrap: normal;
    border-radius: 25px;
    margin-left: 15px;
    color: #fff;
    background:#6923E5 ;
    width: 125px;
    height: 20px;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
    color: #fff;
    margin-bottom: 15px;
    margin-top: 15px;
}

.submit{
    border: 1px solid #6923E5;
    padding : 10px;
    border-radius: 20px;
    background-color: #fff;
    margin: 5vh auto 0 auto;
    display: block;
    text-align: center;
    width: 150px;
    font-family: Arial, Helvetica, sans-serif;


}

.submit:hover{
    transition: 1s;
    background-color: #6923E5;
    color: #fff;
    border: 1px solid #fff;
}

@media (max-width: 840px) {

    
    

    .form-largescreen{
       width: 350px;
    }


    .short, .long{

        width: 250px;
        margin: 30px auto;
	    display: inline;

    }

    select {
        word-wrap: normal;
        border-radius: 25px;
        margin-left: 25px;
     
        background:  rgb(218, 218, 218);
        width: 75px;
        height: 20px;
    }

}