
body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    
}
.contenue{
    width: 400px;
        border: 1px solid;
     background:  #6923E5;
    height: 400px;
    color: white;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}