@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');

*{
    list-style: none;
    outline-style: none;
    margin: 0;
    padding: 0;
}
.profile .profile-img{
    clip-path: circle(10%);
}
 
@media only screen and (min-width: 1200px) { 

header.phone-screen{
    display: none;
}

 header.large-screen{
     position: sticky;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 50px 0px 50px;
    margin-left:auto ;
    margin-right: auto;
    height: 8em;
    width: 100%;
    box-shadow: 0px 11px 7px 0px rgba(0,0,0,0.2);
  
}

header.tablet-screen{
    display: none;
}

header.small-screen {
    display: none;
}

footer{

    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    color:#6923E5 ;
}
a:link{
    text-decoration: none;
}

.header-content{
   width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}


.logo{
    margin-top: 1em;
    width: 200px;
    height: 100px;
}
.searchbar{
    width: 500px;
    height: 40px;
    border: 1px solid #6923E5;
    border-radius: 20px;
    padding: 15px;
    background-image: url('./img/loupe.svg')  ;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position-x: 468px;
    background-position-y: 10px;
    background-color: rgb(236, 236, 236);
    font-family: Arial, Helvetica, sans-serif;

}

#myUL{
    padding: 0.4em 0;
    display: none;
    z-index: 1000;
    position: absolute;
    height: 179px;
    width: 500px;
    background-color: rgba(220, 220, 220, 0.8);
    border: 1px solid #6923E5;
    border-top: none;
    border-radius: 25px;
    overflow: hidden;
}

.pays {
    color:#808080;
    margin-top: 20px;
    width: 500px;
}

#suggestion:hover{
    background-color: rgb(200, 200, 200);
}

.pays:hover {
    color: #09999A;
}

.spacebar{
    height: 40px;
    border: 1px solid #6923E5;
   
    
}

.liste-searchbar{
    margin-right: 10px;
}

.register{
border: 1px solid #6923E5;
padding : 10px 30px 10px 30px;
border-radius: 20px;
background-color: #fff;
font-family: Arial, Helvetica, sans-serif;
}

.login{
border: 1px solid  #6923E5;
padding : 10px 30px 10px 30px;
border-radius: 20px;
background-color: #6923E5;    
color: #fff;
font-family: Arial, Helvetica, sans-serif;
}

li{
    padding-right: 15px;
    padding-left:15px;
}

div.map{
    height: 600px;
    width: 1200px;
    margin-top: 5vh;
    margin-left:auto ;
    margin-right: auto;
border:5px solid #6923E5;
border-radius: 5px;
}
}


@media (max-width: 1200px) {
    header.large-screen{
        display: none;
    }

    header.phone-screen{
        display: none;
    }

    header.small-screen {
        display: none;
    }
    header.tablet-screen {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 0px 50px 0px 50px;
            margin-left:auto ;
            margin-right: auto;
            height: 8em;
            width: 100%;
            box-shadow: 0px 11px 7px 0px rgba(0,0,0,0.2);
    }

    footer{

        display: flex;
        justify-content: center;
        margin-top: 50px;
        margin-bottom: 50px;
        font-family: Arial, Helvetica, sans-serif;
    }
    a{
        color:#6923E5 ;
    }
    a:link{
        text-decoration: none;
    }
    
    .header-content{
       width: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        
    }
    
    
    .logo{
        margin-top: 1em;
        width: 200px;
        height: 100px;
    }
    .searchbar{
        width: 400px;
        height: 40px;
        /* margin-top: 56px; */
        border: 1px solid #6923E5;
        border-radius: 20px;
        padding: 15px;
        background-image: url('./img/loupe.svg')  ;
        background-size: 20px;
        background-repeat: no-repeat;
        background-position-x: 468px;
        background-position-y: 10px;
        background-color: rgb(236, 236, 236);
        font-family: Arial, Helvetica, sans-serif;
    
    }
    
    #myUL{
        display: none;
        z-index: 1000;
        position: absolute;
        height: 200px;
        width: 500px;
        background-color: #fff;
        border: 1px solid #6923E5;
        border-top: none;
        border-radius: 25px;
        overflow: hidden;
    }
    

    
    .spacebar{
        height: 40px;
        border: 1px solid #6923E5;
       
        
    }
    
    .liste-searchbar{
        margin-right: 10px;
    }
    
    .register{
    border: 1px solid #6923E5;
    padding : 10px 30px 10px 30px;
    border-radius: 20px;
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    }
    
    .login{
    border: 1px solid  #6923E5;
    padding : 10px 30px 10px 30px;
    border-radius: 20px;
    background-color: #6923E5;    
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    }
    
    li{
        padding-right: 15px;
        padding-left:15px ;
    }
    
    div.map{
        height: 500px;
        width: 1000px;
        margin-top: 5vh;
        margin-left:auto ;
        margin-right: auto;
    border:5px solid #6923E5;
    border-radius: 5px;
    }
}

@media only screen and (min-width: 990px) and (max-width: 1080px) {
    header.large-screen{
        display: none;
    }

    header.tablet-screen {
        display: none;
    }

    header.phone-screen{
        display: none;
    }

    header.tablet-screen {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 0px 50px 0px 50px;
            margin-left:auto ;
            margin-right: auto;
            height: 8em;
            width: 100%;
            box-shadow: 0px 11px 7px 0px rgba(0,0,0,0.2);
            
    }

    footer{

        display: flex;
        justify-content: center;
        margin-top: 50px;
        margin-bottom: 50px;
        font-family: Arial, Helvetica, sans-serif;
    }
    a{
        color:#6923E5 ;
    }
    a:link{
        text-decoration: none;
    }
    
    .header-content{
       width: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        
    }
    
    
    .logo{
        margin-top: 1em;
        width: 200px;
        height: 100px;
    }
    .searchbar{
        width: 300px;
        height: 40px;
        /* margin-top: 56px; */
        border: 1px solid #6923E5;
        border-radius: 20px;
        padding: 15px;
        background-image: url('./img/loupe.svg')  ;
        background-size: 20px;
        background-repeat: no-repeat;
        background-position-x: 468px;
        background-position-y: 10px;
        background-color: rgb(236, 236, 236);
        font-family: Arial, Helvetica, sans-serif;
    
    }
    
    #myUL{
        display: none;
        z-index: 1000;
        position: absolute;
        height: 200px;
        width: 500px;
        background-color: #fff;
        border: 1px solid #6923E5;
        border-top: none;
        border-radius: 25px;
        overflow: hidden;
    }
    
    
    .spacebar{
        height: 40px;
        border: 1px solid #6923E5;
       
        
    }
    
    .liste-searchbar{
        margin-right: 10px;
    }
    
    .register{
    border: 1px solid #6923E5;
    padding : 10px 30px 10px 30px;
    border-radius: 20px;
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    
    }
    
    .login{
    border: 1px solid  #6923E5;
    padding : 10px 30px 10px 30px;
    border-radius: 20px;
    background-color: #6923E5;    
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
 
    }
    
    li{
        padding-right: 15px;
        padding-left:15px ;
    }
    


    div.map{
        height: 450px;
        width: 900px;
        margin-top: 5vh;
        margin-left:auto ;
        margin-right: auto;
        border:5px solid #6923E5;
        border-radius: 5px;
    }
}

@media only screen and (min-width: 840px) and (max-width: 990px) {
    header.large-screen{
        display: none;
    }

    header.tablet-screen {
        display: none;
    }

    header.phone-screen{
        display: none;
    }

    header.tablet-screen {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 0px 50px 0px 50px;
            margin-left:auto ;
            margin-right: auto;
            height: 8em;
            width: 100%;
            box-shadow: 0px 11px 7px 0px rgba(0,0,0,0.2);
    }

    footer{

        display: flex;
        justify-content: center;
        margin-top: 50px;
        margin-bottom: 50px;
        font-family: Arial, Helvetica, sans-serif;
    }
    a{
        color:#6923E5 ;
    }
    a:link{
        text-decoration: none;
    }
    
    .header-content{
       width: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        
    }
    
    
    .logo{
        margin-top: 1em;
        width: 200px;
        height: 100px;
    }
    .searchbar{
        width: 200px;
        height: 40px;
        /* margin-top: 56px; */
        border: 1px solid #6923E5;
        border-radius: 20px;
        padding: 15px;
        background-image: url('./img/loupe.svg')  ;
        background-size: 20px;
        background-repeat: no-repeat;
        background-position-x: 468px;
        background-position-y: 10px;
        background-color: rgb(236, 236, 236);
        font-family: Arial, Helvetica, sans-serif;
    
    }
    
    #myUL{
        display: none;
        z-index: 1000;
        position: absolute;
        height: 200px;
        width: 500px;
        background-color: #fff;
        border: 1px solid #6923E5;
        border-top: none;
        border-radius: 25px;
        overflow: hidden;
    }
    
    
    .spacebar{
        height: 40px;
        border: 1px solid #6923E5;
       
        
    }
    
    .liste-searchbar{
        margin-right: 10px;
    }
    
    .register{
    border: 1px solid #6923E5;
    padding : 10px 30px 10px 30px;
    border-radius: 20px;
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    
  
    }
    
    .login{
    border: 1px solid  #6923E5;
    padding : 10px 30px 10px 30px;
    border-radius: 20px;
    background-color: #6923E5;    
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    
    }
    
    li{
        padding-right: 15px;
        padding-left:15px ;
    }
    


    div.map{
        height: 400px;
        width: 800px;
        margin-top: 5vh;
        margin-left:auto ;
        margin-right: auto;
        border:5px solid #6923E5;
        border-radius: 5px;
    }
}


@media (max-width: 840px) {

    header.large-screen{
        display: none;
    }

    header.tablet-screen{
        display: none;
    }


    header.small-screen {
        display: none;
    }

    header.phone-screen{
        padding: 15px;
        display: flex;
       align-items: center;
        flex-direction: column;
      
     
    }

    footer{
        
        display: flex;
        flex-direction: column;
        align-items: center;   
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .searchbar{
        width: 350px;
    }
    
    .login{
        
       margin-top: 25px;
        border: 1px solid  #6923E5;
        padding : 10px 30px 10px 30px;
        border-radius: 20px;
        background-color: #6923E5;    
        color: #fff;
        }

        .register{
            margin-top: 25px;
            border: 1px solid #6923E5;
            padding : 10px 30px 10px 30px;
            border-radius: 20px;
            background-color: #fff;
            
        }

        div.map{
            height: 230px;
            width: 460px;
            margin-top: 5vh;
            margin-left:auto ;
            margin-right: auto;
        border:5px solid #6923E5;
        border-radius: 5px;
        }

}