
 .profil{
     margin-left: auto;
     margin-right: auto;
     padding: 15px;

     border-radius: 25px;
     width: 900px;
     height: 400px;
     margin-top: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: #fff;
}

.profil-voyage{

width: 50%;
 
}
h2{
    margin-top: 50px;
}
li{
    color: black;
}
article{
    display: flex;
    justify-content: center;
}
 .profile{
    display: flex;
    margin-top: 3%;
   border-radius: 10px;
   box-shadow: 0 5px 5px gray;
}
.profil-img{
    border-radius: 50%;
    margin-bottom: 50px;
}
.info-profil{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.description-profil{
    background: rgb(218, 218, 218);
   border-radius: 10px;

}
.ligne{
    height: 350px;
    border: 2px solid #6923E5;
    background-color: #6923E5;
}
.modif-btn{

    display: flex;
    justify-content: flex-end;
    top: 5px;
    left: 5px;
}
.fas .times:hover{
    color: #0d9b9c;
}
.fas .times:hover{
    color: #0d9b9c;
}

.msg{
 
    background-color: #6923E5;
	width:400px;
    border-radius: 25px;
    border-color: #6923E5;
    padding: 15px;
    margin: 50px;
}

.msg:hover{
    transition: 1s;
    border-right: 20px solid  #6923E5;
    border-left: 20px solid  #6923E5;
}


@media only screen and (max-width: 762px){
    .profil{
        position: relative;
        margin-left: auto;
        margin-right: auto;
        padding: 15px;
   
        border-radius: 25px;
        width: 300px;
        height: 500px;
        margin-top: 5vh;
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: space-around;
       color: #fff;
   }


   .ligne{
       width: 350px;
   }


   .msg{
    width: 350px;
    margin-bottom: 50px;
}

}

