
 .profil{
    
    margin-left: auto;
    margin-right: auto;
    padding: 5em 2em 3em 2em;
    border: #6923E5 3px solid ;
    border-radius: 25px;
    width: 47em;
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: #0d9b9c;
}

#nameOfUserProfil {
    font-size: 2em;   
}

#publication_date {
    margin-top: 1em;
    margin-left: 1em;
    width: auto;
    display: inline;
}

.profil-voyage{

width: 50%;
 
}

li{
    color: black;
}
 .profile{
    display: flex;
    margin-top: 3%;
   border-radius: 10px;
   box-shadow: 0 5px 5px gray;
}
.profil-img{
    border-radius: 50%;
    margin-bottom: 50px;
}
.info-profil{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.description-profil{
    background: rgb(218, 218, 218);
   border-radius: 10px;

}
.ligne{
    height: 350px;
    border: 2px solid #6923E5;
    background-color: #6923E5;
}
.modif-btn{

    display: flex;
    justify-content: flex-end;
    top: 5px;
    left: 5px;
}
.fas .times:hover{
    color: #0d9b9c;
}

.msg{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 480px) {
    .profil{
        width: auto;
        margin: 1em;
    }
}