{% extends 'baseAdmin.html.twig' %}

{% block title %}Accueil{% endblock %}



{% block body %}

    {# {{ parent() }} #}

    <div id="body" class="text-center">
        <h3>Bienvenue sur l'espace administrateur du site Talk'n Go!</h3>
        <p>Pour commencer, merci de sélectionner un lien dans le menu à gauche.</p>
    </div>

{% endblock %}